streamlit==1.41.1
sendgrid==6.11
python-dotenv==1.0.1
PyPDF2==3.0.1
openai==1.60.1
langchain==0.1.20
langchain-openai==0.1.8
langchain-community==0.0.30
langchain-chroma==0.0.7
langchain-groq==0.0.4
langchain-huggingface==0.0.5
langchain-text-splitters==0.0.4
langgraph==0.2.60
opensearch-py==2.8.0
apify-client==1.8.1
apify-shared==1.2.1
pydantic==2.10.3
pydantic-core==2.27.1
